@import "_custom-properties.css";

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/* stylelint-disable */
a {
	color: var(--color-link);
}
/* stylelint-enable */

a:visited {
	color: var(--color-link-visited);
}

a:hover,
a:focus,
a:active {
	color: var(--color-link-active);
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

.social-icons a,
.social-icons a:visited,
.social-icons a:active {
	color: var(--color-theme-primary);
}

.social-icons a:hover,
.social-icons a:focus {
	color: var(--color-theme-secondary);
}
