/assets/js/libs/**
/node_modules/**
/vendor/**
/config/**
/assets/js/src/custom-customizer.js
/assets/js/src/jquery.matchHeight.js

# Because parsing error: 'import' and 'export' may appear only with 'sourceType: module'
/gulpfile.babel.js
